<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lecture65-no-storyboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFAB728B1C3C5BE700674A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFAB729F1C3C5BE700674A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFAB72AA1C3C5BE700674A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
